 
sudo: false

language: node_js

# cache:
#   directories:
#     - node_modules

node_js:
  - "10"

before_script:
  - yarn global add nyc
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

branches:
  only:
    - master

script: npm run test
after_success:
  - npm run coveralls